<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genrate QR code for company</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a href="" class="navbar-brand">Generate qr code</a>
        </div>
    </nav>

        <div class="container mt-5 " style="width: 600px; border: 1px solid black; padding:30px; border-radius: 10px;">
            <form action="{% url 'gen_qr' %}" method="post">
            {% csrf_token %}

            {{form.as_p}}

            <button type="submit" class="btn btn-primary">Generate QR code</button>
        </form>
        </div>
</body>
<footer>
    <div>
         <div class="text-center p-3 pt-5" style="background-color: rgba(0, 0, 0, 0.05);">
    Developed by Jaimin Sathavara
    <a class="text-reset fw-bold" href=""></a>
  </div>
  
</footer>
    </div>
</html>


